
*.minibase-db

*.class

*.txt

*.xml

*.swp

*.java

Prog2_Ravi/HeapFile/.project

*.minibase

*.iml

*.jar

Prog2_Ravi/BufferManager/.project

Prog2_Ravi/BufferManager/.idea/.name

Prog2_Ravi/HeapFile/.classpath

Prog2_Ravi/HeapFile/Makefile

Prog2_Ravi/BufferManager/README

Prog2_Ravi/BufferManager/Makefile

Prog2_Ravi/HeapFile/README

Prog2/HeapFile/.project

Prog2_Ravi/BufferManager/.classpath

*.java
